<div class="event-container">
    <h1 mat-dialog-title>{{isEditMode ? 'Edit Event' : 'Add Event'}}</h1>
    <div mat-dialog-content class="event-form-container">
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput placeholder="Title">
      </mat-form-field>
      <mat-form-field>
        <textarea matInput placeholder="Description"></textarea>
      </mat-form-field>
      <mat-checkbox [checked]="this.allDay">All day</mat-checkbox>
      <div class="time-selector-container">
      <mat-form-field class="time-field">
        <mat-label>Start Hour</mat-label>
        <mat-select [(ngModel)]="startHour" name="startHour">
            <mat-option *ngFor="let hour of this.hours" [value]="hour">
                {{hour}}
            </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="time-field">
        <mat-label>Start Min</mat-label>
        <mat-select [(value)]="startHour" name="startMinutes">
            <mat-option *ngFor="let min of this.minutes" [value]="min">
                {{min}}
            </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="time-selector-container">
      <mat-form-field class="time-field">
        <mat-label>End Hour</mat-label>
        <mat-select [(value)]="endHour" name="endHour">
            <mat-option *ngFor="let hour of this.hours" [value]="hour">
                {{hour}}
            </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="time-field">
        <mat-label>End Min</mat-label>
        <mat-select [(value)]="endMinutes" name="endMinutes">
            <mat-option *ngFor="let min of this.minutes" [value]="min">
                {{min}}
            </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    </div>
    <div mat-dialog-actions>
      <button mat-button (click)="onCancelClick()">Cancel</button>
      <button mat-button class="add-button" (click)="onAddClick()">Add</button>
    </div>
  </div>
  