.event-container {
    display: flex;
    flex-direction: column;

    .event-form-container {
        display: flex;
        flex-direction: column;

        .time-selector-container {
            display: flex;

            .time-field {
                margin-right: 20px;
                width: 100px;
            }
        }

        .color-picker {
            display: flex;
            .color-field {
                width: 50px;
            }
        }
    }

    .add-button { 
        background: #ffb80a !important;
        color: white;
    }
}

.colour-block {
    height: 20px !important;
    width: 20px !important;
    border-radius: 10px;
}