<mat-toolbar color="primary" class="mat-elevation-z6">
    <span>Budget Management App</span>
</mat-toolbar>
<div>
    <mat-card>
        <mat-card-content>
            <mat-card-title align="center" data-qa="login-title">Please login</mat-card-title>
            <form class="login-form" [formGroup]="this.form">
                <mat-form-field>
                    <input matInput type="text" placeholder="Username" required class="form-control" formControlName="username" data-qa="username" [readonly]="this.isLoading">
                    <mat-error>Username is required</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput [type]="this.hidePassword ? 'password' : 'text'" placeholder="Password" required class="form-control" formControlName="password" data-qa="password" [readonly]="this.isLoading">
                    <mat-icon matSuffix (click)="togglePasswordVisibility()">{{ this.hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                    <mat-error>Password is required</mat-error>
                </mat-form-field>
                <mat-card-actions>
                    <button mat-raised-button color="primary" (click)="login()" type="submit" data-qa="login-button" (disabled)="!this.form.valid">Login</button>
                    <a routerLink="/register">Don't have an account? Register now!</a>
                </mat-card-actions>
            </form>
        </mat-card-content>
    </mat-card>
    <mat-spinner *ngIf="isLoading"></mat-spinner>

    
</div>

